<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>VRP SOLVER</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/templatemo-style.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <nav>
        <div class="logo">
          <a href="/">VRP<em>SOLVER</em></a>
          
        </div>
      </nav>
    </header>
    <div id="video-container">
      <div class="video-overlay"></div>
      <div class="video-content">
        <div class="inner">
        <br></br><br></br>
        <h1>About Us</h1>
        <h2>Abstract</h2>
        <p>
          Penelitian ini bertujuan untuk mengimplementasikan OpenStreetMap dalam optimasi rute pengantaran distribusi logistik guna meningkatkan efisiensi operasional. Dalam penelitian ini, data geografis dari OpenStreetMap digunakan untuk menggantikan Google Maps API, sehingga memberikan fleksibilitas lebih dan mengurangi biaya operasional. Metode Constraint Programming diterapkan untuk menyelesaikan Vehicle Routing Problem with Time Windows (VRPTW). Hasil penelitian menunjukkan bahwa penggunaan OpenStreetMap mampu mengurangi total jarak tempuh dan konsumsi bahan bakar, serta meningkatkan efisiensi waktu pengantaran. Penelitian ini memberikan kontribusi signifikan dalam bidang optimasi logistik dengan menawarkan solusi yang lebih efisien dan ekonomis.

        </p>
        <p>
        <strong>University :</strong> Universitas Logistik & Bisnis
        Internasional
        </p>
        <div class="bio-container">
        <div class="bio-left">
          <h2>Author Biodata</h2>
          <img
            src="{{ url_for('static', filename='images/rifqi.jpg') }}"
            alt="Author's photo"
            style="
              width: 150px;
              height: 150px;
              border-radius: 50%;
              margin-bottom: 20px;
            "
          />
          <p><strong>Name :</strong> Rifqi Fathurrohman</p>
          <p><strong>NPM :</strong> 1204076</p>
          <p><strong>Email :</strong> 1204076@std.ulbi.ac.id</p>
        </div>
        <div class="bio-right">
          <h2>Lecture Biodata</h2>
          <img
            src="{{ url_for('static', filename='images/supervisor.jpg') }}"
            alt="Supervisor's photo"
            style="
              width: 150px;
              height: 150px;
              border-radius: 50%;
              margin-bottom: 20px;
            "
          />
          <p><strong>Name :</strong> Cahyo Prianto, S.Pd., M.T.,CDSP, SFPC</p>
          <p><strong>NIK :</strong> 117.84.222</p>
          <p><strong>Email :</strong> cahyo@ulbi.ac.id</p>
        </div>
      </div>
    </div>
      </div>
  </body>
</html>
